@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body{
    background-color: antiquewhite;
    /* background-image: url("https://t4.ftcdn.net/jpg/05/15/77/39/360_F_515773972_IH759yGiOyAdQLtr2qdpMh71QVNely9C.jpg"); */
    background: rgba(0, 0, 0, 0.613);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'ubuntu', 'sans-serif';
}

.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    position: fixed;
}

.logoHead{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
}


.logo{
    width: 120px;
}


#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}


#buttons i{
    padding: 0px 25px;
    cursor: pointer;
}

#buttons a>i:hover{
    transform: scale(1.1);

    
}



.button{
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
    font-size: 15px;
    font-weight: 400;
    padding: 10px 15px;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 18px;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.button:hover{
    transform: scale(1.02);
}

.button a{
    color: white;
    text-decoration: none;
}



/* liked songs dropdown button */

.dropdown{
    overflow: hidden;
    /* z-index: 100; */
}
.dropbtn{
    background-color: transparent;
    border: none;
    padding: 20px 0px;
    /* z-index: 100; */
}
.dropdown i{
    transform: scale(1.35);
}
.dropbtn i:hover{
    transform: scale(1.45);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0F0F0F;
    color: white;
    min-width: 200px;
    box-shadow: 8px 8px 30px  rgba(9, 9, 9, 0.4);
    z-index: 100;
}
.dropdown-content .liked-song{
    float: none;
    font-size: 16px;
    padding: 12px 5px;
    text-decoration: none;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100;
}
.dropdown:hover .dropdown-content {
    display: block;
    z-index: 100;
}





.fixed{
    height: 65px;
}
.mid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
}
.container{
    height: calc(100vh - 80px - 120px - 100px);
    margin: 23px auto;
    width: 66%;
    border-radius: 12px;
    width: 66vw;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.652);
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    padding: 34px;
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/572/66/413/headphones-music-akg-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.songBanner{
    height: calc(100vh - 80px - 120px - 100px);
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    margin: 23px auto;
    width: 24%;
    border-radius: 12px;
    padding: 34px 20px;
    z-index: -1;
    
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.652);
}
.SongInfo {
    height: 95%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    /* font-size: 18px; */
    /* z-index: 1; */
}

.SongInfo::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.singer{
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 0.8px;
}
#movie{
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 0.8px;
}

.songitemcontainer{
    margin-top: 35px;
    height: 86%;
    width: 100%;
    position: relative;
    /* z-index: 1; */
    overflow-x: hidden;
}

.songitemcontainer::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}




.bottom{
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.icons{
    margin-bottom: 20px;
}
.icons i{
    cursor: pointer;
    padding: 0px 13px;
    transform: scale(1.1);
}
#masterPlay{
    transform: scale(1.25);
}

.progressBar{
    padding-top: 20px;
}
input{
    width: 40vw;
    margin-bottom: 20px;
    cursor:pointer;
}

.songItem{
    height: 50px;
    display: flex;
    color: white;
    /* color: black; */
    background-color: rgba(128, 128, 128, 0.5);
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem .img{
    width: 50px;
    margin: 0 23px;
    border-radius: 50%;
}

.timestamp{
    padding: 0 10px;
}
.songItemPlay{
    cursor: pointer;
    padding-right: 20px;
}
.songLiked{
    cursor: pointer;;
    padding-right: 20px;
}

.songInfo{
    font-family: 'Varela Round', sans-serif;
    position: absolute;
    left: 6vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
